body{
    margin: 0;
}

.nav{
    display: flex;
    justify-content: space-around;
    background: 222;
    padding: 10px;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.box{
    background: saddlebrown;
    padding: 20px;
    text-align: center;
}

@media(max width: 768px) {
    .grid{
        grid-template-columns: 1fr;
    }
}